.cart {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    overflow-y: auto;
    transition: right 0.3s;
  }
  
  .cart.open {
    right: 0;
  }
  
  .cart-toggle {
    position: absolute;
    top: 10px;
    left: 0px; /* Ajuste para não cortar o botão */
    padding: 5px;
    background-color: red;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .cart-toggle::after {
    font-size: 18px;
  }
  
  .cart-content {
    padding: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  .total {
    font-weight: bold;
    margin-top: 20px;
  }
  
  .checkout-button {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  