.home-container { 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3vh;
}

.home-container.cart-open {
  margin-right: 300px; /* Ajuste a margem quando o carrinho estiver aberto */
}

.products { 
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; /* Centralizar horizontalmente */ 
  align-items: center; /* Centralizar verticalmente */ 
  width: 100%; 
}

.product { 
  border: 1px solid #ccc; 
  padding: 16px; 
  margin: 16px; 
  width: calc(33.333% - 32px); 
  box-sizing: border-box; 
}

.product h3 {
  margin-top: 0;
}

.product-image {
  width: 100%; /* Largura total do contêiner do produto */
  height: 250px; /* Altura fixa para todas as imagens */
  object-fit: contain; /* Ajustar imagem dentro do contêiner sem cortar */
  margin-bottom: 16px;
}

.product-image:hover {
    animation-name: upimg;
    animation-duration: 2.5s;
    animation-timing-function: ease;
}

@keyframes upimg {
  0% {

  }

  50% {
    scale: 2;
  }
  
  100% {

  }
}

@media (max-width: 1024px) {
  .home-container.cart-open {
    margin-right: 250px;
  }

  .product {
    width: calc(50% - 32px);
  }
}

@media (max-width: 768px) {
  .home-container.cart-open {
    margin-right: 200px;
  }

  .product {
    width: calc(100% - 32px);
  }
}

@media (max-width: 480px) {
  .home-container.cart-open {
    margin-right: 0; /* O carrinho ocupará a tela inteira */
  }

  .product {
    width: calc(100% - 32px);
    margin: 8px;
  }
}