.typage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-align: center;
  color: white;
  position: relative;
  padding-bottom: 60px; 
  background-color: #ff8c91;
  gap: 5vh;
  overflow: hidden;
}

.bodycontainer {
  background-color: #ff8c91;
  margin: 0;
  padding: 0;
  display: flex; /* Alinha os elementos em linha */
  justify-content: center; /* Centraliza horizontalmente os filhos */
  align-items: center; /* Alinha verticalmente */
  height: 100vh;
  gap: 5vw; /* Espaçamento horizontal entre header e thankyou-container */
  overflow:hidden;
}


.thankyou-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: black;
  margin: 20px 0;
}

.thankyou-container h1 {
  color: #ff8c91;
  margin-bottom: 10px;
}

.thankyou-container p {
  color: #555;
  font-size: 18px;
  margin-bottom: 20px;
}

.thankyou-container a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #ff8c91;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.thankyou-container a:hover {
  background-color: #ff666b;
}

